@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-matte-dark text-silver-accent;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-silver-light;
}

a {
  @apply text-silver-accent hover:text-silver-light;
}